{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{%static 'assets/images/favicon.ico' %}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <title>Mattresses</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link rel="shortcut icon" type="image/icon" href="{%static 'assets/logo/favicon.png' %}"/>
  <!-- Additional CSS Files -->
  <!-- <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}"> -->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style_1.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nouislider.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}" />

  <!--font-awesome.min.css-->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

  <!--linear icon css-->
  <link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}/">

  <!--animate.css-->
  <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

  <!--owl.carousel.css-->
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

  <!--bootstrap.min.css-->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

  <!-- bootsnav -->
  <link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}">


  <!-- bootstrap  -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">



  <!--style.css-->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

  <!--responsive.css-->
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


  <link rel="stylesheet" href="{% static 'assets/css/checkout.css' %}">
  <style>
    .banner-item-01 {
      background-image: url(/assets/images/slider-image-2-1920x600.jpg  );
    }

    .banner-item-02 {
      background-image: url(/images/home_app/61bdrvFggaL._AC_UL320_.jpg  );
    }

    .banner-item-03 {
      background-image: url("{% static 'assets/images/slider-image-2-1920x600.jpg' %}");
    }

    .product-item img {
      width: 100%;
      height: 210px;
    }
  </style>
  <style>
    .product-details .product-links {
      margin-top: 10px;
    }

    .product-details .product-links li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
    }

    .product-details .product-links li+li {
      margin-left: 10px;
    }
  </style>

  {% block css %}

  {% endblock css %}
</head>

<body>

 

        <!-- top-area Start -->
        <div class="top-area">
          <div class="header-area">
            <!-- Start Navigation -->
              <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
  
                  <!-- Start Top Search -->
                  <div class="top-search">
                      <div class="container">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-search"></i></span>
                              <input type="text" class="form-control" placeholder="Search">
                              <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                          </div>
                      </div>
                  </div>
                  <!-- End Top Search -->
  
                  <div class="container">            
                      <!-- Start Atribute Navigation -->
                      <div class="attr-nav">
                          <ul>
                            <li class="search" action="/search">
                    
                                <!-- <input name="q" class="input input-select" placeholder="Search here..."> -->
                                <!-- <button type="submit" class="search-btn">Search</button> -->
                            
                              <a href="#"><span class="lnr lnr-magnifier"></span></a>
                            </li><!--/.search-->

                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                    <span class="lnr lnr-cart"></span>
                                  </a>  
                              </li><!--/.dropdown-->
                              <li>
                                <a href="#">
                                  <i class="lnr lnr-heart"></i>
                                </a>
                              </li>
                            <!-- <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li> -->
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><i class="nav-setting"></i> Logout</a></li>
                            <li><a href="{% url 'my_dashboard' %}"><i class="nav-setting"></i> My Dashboard</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}"><i class="nav-setting"></i> Login</a></li>
                  
                            <li><a href="{% url 'signup' %}"><i class="nav-setting"></i> Sign Up</a></li>
                            {% endif %}
                          </ul>
                          
                      </div><!--/.attr-nav-->
                      <!-- End Atribute Navigation -->
  
                      <!-- Start Header Navigation -->
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                              <i class="fa fa-bars"></i>
                          </button>
                          <a class="navbar-brand" href="/">Royal Sleep Mattress</a>
  
                      </div><!--/.navbar-header-->
                      <!-- End Header Navigation -->
                       
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                          <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a href="/">Home</a></li>
                            <li><a href="/products">Products</a></li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                  aria-expanded="false">Categories <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                    
                                  {% for category in categories %}
                                  <li><a href="/category-product-list/{{category.id}}">{{category.title}}</a></li>
                                  {% endfor %}
                    
                                </ul>
                              </li>
                    
                             <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                          </ul><!--/.nav -->
                      </div><!-- /.navbar-collapse -->
                      
                  </div><!--/.container-->
              </nav><!--/nav-->
              <!-- End Navigation -->
          </div><!--/.header-area-->
            <div class="clearfix"></div>
  
        </div><!-- /.top-area-->
        <!-- top-area End -->

      </header><!--/.welcome-hero-->
  
  {% block content %}

  {% endblock content %}
    
		
      <!--newsletter strat -->
      <section id="newsletter"  class="newsletter">
        <div class="container">
          <div class="hm-footer-details">
            <div class="row">
              <div class=" col-md-3 col-sm-6 col-xs-12">
                <div class="hm-footer-widget">
                  <div class="hm-foot-title">
                    <h4>information</h4>
                  </div><!--/.hm-foot-title-->
                  <div class="hm-foot-menu">
                    <ul>
                      <li><a href="/about">about us</a></li><!--/li-->
                      <li><a href="/contact">contact us</a></li><!--/li-->
                   
                    </ul><!--/ul-->
                  </div><!--/.hm-foot-menu-->
                </div><!--/.hm-footer-widget-->
              </div><!--/.col-->
              <div class=" col-md-3 col-sm-6 col-xs-12">
                <div class="hm-footer-widget">
                  <div class="hm-foot-title">
                    <h4>collections</h4>
                  </div><!--/.hm-foot-title-->
                  <div class="hm-foot-menu">
                    <ul>
                      <li><a href="#">Full Size</a></li><!--/li-->
                      <li><a href="#">royal cloth sofa</a></li><!--/li-->
                      <li><a href="#">accent chair</a></li><!--/li-->
                      <li><a href="#">bed</a></li><!--/li-->
                      <li><a href="#">hanging lamp</a></li><!--/li-->
                    </ul><!--/ul-->
                  </div><!--/.hm-foot-menu-->
                </div><!--/.hm-footer-widget-->
              </div><!--/.col-->
              <div class=" col-md-3 col-sm-6 col-xs-12">
                <div class="hm-footer-widget">
                  <div class="hm-foot-title">
                    <h4>my accounts</h4>
                  </div><!--/.hm-foot-title-->
                  <div class="hm-foot-menu">
                    <ul>
                      <li><a href="#">my account</a></li><!--/li-->
                      <li><a href="#">wishlist</a></li><!--/li-->
                      <li><a href="#">Community</a></li><!--/li-->
                      <li><a href="#">order history</a></li><!--/li-->
                      <li><a href="#">my cart</a></li><!--/li-->
                    </ul><!--/ul-->
                  </div><!--/.hm-foot-menu-->
                </div><!--/.hm-footer-widget-->
              </div><!--/.col-->
              <div class=" col-md-3 col-sm-6  col-xs-12">
                <div class="hm-footer-widget">
                  <div class="hm-foot-title">
                    <h4>newsletter</h4>
                  </div><!--/.hm-foot-title-->
                  <div class="hm-foot-para">
                    <p>
                      Subscribe  to get latest news,update and information.
                    </p>
                  </div><!--/.hm-foot-para-->
                  <div class="hm-foot-email">
                    <div class="foot-email-box">
                      <input type="text" class="form-control" placeholder="Enter Email Here....">
                    </div><!--/.foot-email-box-->
                    <div class="foot-email-subscribe">
                      <span><i class="fa fa-location-arrow"></i></span>
                    </div><!--/.foot-email-icon-->
                  </div><!--/.hm-foot-email-->
                </div><!--/.hm-footer-widget-->
              </div><!--/.col-->
            </div><!--/.row-->
          </div><!--/.hm-footer-details-->
  
        </div><!--/.container-->
  
      </section><!--/newsletter-->	
      <!--newsletter end -->
  
      <!--footer start-->
      <footer id="footer"  class="footer">
        <div class="container">
          <div class="hm-footer-copyright text-center">
            <div class="footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>	
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
             
            </div>
            <p>
              <a href="http://xenontechnologylab.com/">&copy;copyright. designed and developed by <span>Xenon</span></a>
            </p><!--/p-->
          </div><!--/.text-center-->
        </div><!--/.container-->
  
        <div id="scroll-Top">
          <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
          </div>
          
        </div><!--/.scroll-Top-->
        
          </footer><!--/.footer-->
      <!--footer end-->
      
      <!-- Include all js compiled plugins (below), or include individual files as needed -->
  
      <script src="{% static 'assets/js/jquery.js' %}"></script>
      
          <!--modernizr.min.js-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      
      <!--bootstrap.min.js-->
          <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
          
      <!-- bootsnav js -->
      <script src="{% static 'assets/js/bootsnav.js' %}"></script>
      
      <!--owl.carousel.js-->
          <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
          
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
      
          
          <!--Custom JS-->
          <script src="{% static 'assets/js/custom.js' %}"></script>


          

    
    

</body>

</html>