{% extends 'base.html' %}
{% load static %}

{% block content %}

 <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!--/.carousel-indicator -->
       <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
        <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
        <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
      </ol><!-- /ol-->
      <!--/.carousel-indicator -->

      <!--/.carousel-inner -->
      <div class="carousel-inner" role="listbox">
        <!-- .item -->
        <div class="item active">
          <div class="single-slide-item slide1">
            <div class="container">
              <div class="welcome-hero-content">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-txt">
                        <h4>great design collection</h4>
                        <h2>cloth covered accent chair</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
                        </p>
                        <div class="packages-price">
                          <p>
                            $ 399.00
                            <del>$ 499.00</del>
                          </p>
                        </div>
                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                          <span class="lnr lnr-plus-circle"></span>
                          add <span>to</span> cart
                        </button>
                        <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                          more info
                        </button>
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                  <div class="col-sm-5">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-img">
                        
                        <img src=" {% static 'assets/images/slider/slider1.png' %}" alt="slider image">
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                </div><!--/.row-->
              </div><!--/.welcome-hero-content-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->

        </div><!-- /.item .active-->

        <div class="item">
          <div class="single-slide-item slide2">
            <div class="container">
              <div class="welcome-hero-content">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-txt">
                        <h4>great design collection</h4>
                        <h2>mapple wood accent chair</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
                        </p>
                        <div class="packages-price">
                          <p>
                            $ 199.00
                            <del>$ 299.00</del>
                          </p>
                        </div>
                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                          <span class="lnr lnr-plus-circle"></span>
                          add <span>to</span> cart
                        </button>
                        <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                          more info
                        </button>
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                  <div class="col-sm-5">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-img">
                        <img src=" {% static 'assets/images/slider/slider2.png' %}" alt="slider image">
                      
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                </div><!--/.row-->
              </div><!--/.welcome-hero-content-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->

        </div><!-- /.item .active-->

        <div class="item">
          <div class="single-slide-item slide3">
            <div class="container">
              <div class="welcome-hero-content">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-txt">
                        <h4>great design collection</h4>
                        <h2>valvet accent arm chair</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
                        </p>
                        <div class="packages-price">
                          <p>
                            $ 299.00
                            <del>$ 399.00</del>
                          </p>
                        </div>
                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                          <span class="lnr lnr-plus-circle"></span>
                          add <span>to</span> cart
                        </button>
                        <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                          more info
                        </button>
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                  <div class="col-sm-5">
                    <div class="single-welcome-hero">
                      <div class="welcome-hero-img">
                        <img src=" {% static 'assets/images/slider/slider3.png' %}" alt="slider image">
                        
                      </div><!--/.welcome-hero-txt-->
                    </div><!--/.single-welcome-hero-->
                  </div><!--/.col-->
                </div><!--/.row-->
              </div><!--/.welcome-hero-content-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
          
        </div><!-- /.item .active-->
      </div><!-- /.carousel-inner-->

    </div><!--/#header-carousel-->
<!-- Page Content -->
<!-- Banner Starts Here -->
<!-- <div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div class="banner-item-03">
      <div class="text-content">
        <h4>Find your car today!</h4>
        <h2>Lorem ipsum dolor sit amet</h2>
      </div>
    </div>
    <div class="banner-item-02">
      <div class="text-content">
        <h4>Fugiat Aspernatur</h4>
        <h2>Laboriosam reprehenderit ducimus</h2>
      </div>
    </div>
    <div class="banner-item-03">
      <div class="text-content">
        <h4>Saepe Omnis</h4>
        <h2>Quaerat suscipit unde minus dicta</h2>
      </div>
    </div>
  </div>
</div> -->
<!-- Banner Ends Here -->

<div class="latest-products ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Featured Products</h2>
          <a href="/products">view more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      {% for product in featured_prod %}

      <div class="col-md-3">
        <div class="product-item  product-details ">
          <a href="/products/{{product.id}}"><img class="img-fluid img-thumbnail" src="{{product.imageURL}}" alt=""></a>
          <div class="down-content product-body text-center py-3">
            <a href="/products/{{product.id}}">
              <p class="product-category text-center mb-2">{{product.category}}</p>
              <h3 class="product-name"><a href="/products/{{product.id}}">{{product.title}}</a></h3>
            </a>
            <h5 class="product-price"><small><del class="product-old-price">$ {{product.price}}</del></small>
              $ {{product.discount_price|floatformat:2}}</h5>


              {% if user.is_authenticated %}
              <div class="product-btns">
                <button class="add-to-wishlist add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart-o"></i><span
                    ></span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                    ></span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span ></span></button>
              </div>
              <br>
              
              {% endif %}

            <div class="add-to-cart">
              <input type="hidden" value="1" id="productQty" class="form-control product-qty-{{product.id}}">
              <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
              <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
              <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
              <input type="hidden" class="product-discountprice-{{product.id}}" value="{{product.discount_price}}" />
              <input type="hidden" class="product-actualprice-{{product.id}}" value="{{product.price}}" />
              
              <button class="add-to-cart-btn" data-index="{{product.id}}" type="button" id="addToCartBtn"><i
                class="fa fa-shopping-cart"></i> Add to cart</button>
            </div>

          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="">
    <h2>CATEGORIES</h2>
  </div>
</div> -->

{% for category in categories %}
<div class="latest-products ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3>{{category.title}}</h3>
          <a href="/category-product-list/{{category.id}}">view more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      {% for product in products %}
      {% ifequal product.category category %}
      <div class="col-md-3">
        <div class="product-item  product-details ">
          <a href="/products/{{product.id}}"><img class="img-fluid img-thumbnail" src="{{product.imageURL}}" alt=""></a>
          <div class="down-content product-body text-center py-3">
            <a href="/products/{{product.id}}">
              <p class="product-category text-center mb-2">{{product.category}}</p>
              <h3 class="product-name"><a href="/products/{{product.id}}">{{product.title}}</a></h3>
            </a>
            <h5 class="product-price"><small><del class="product-old-price">$ {{product.price}}</del></small>
              $ {{product.discount_price|floatformat:2}}</h5>

              {% if user.is_authenticated %}
              <div class="product-btns">
                <button class="add-to-wishlist add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart-o"></i><span
                    ></span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                    ></span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span ></span></button>
              </div>
              <br>
              
              {% endif %}

              <div class="add-to-cart">
                <input type="hidden" value="1" id="productQty" class="form-control product-qty-{{product.id}}">
                <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                <input type="hidden" class="product-discountprice-{{product.id}}" value="{{product.discount_price}}" />
                <input type="hidden" class="product-actualprice-{{product.id}}" value="{{product.price}}" />
                
                <button class="add-to-cart-btn" data-index="{{product.id}}" type="button" id="addToCartBtn"><i
                  class="fa fa-shopping-cart"></i> Add to cart</button>
              </div>

          </div>
        </div>
      </div>

      {% endifequal %}
      {% endfor %}

    </div>
  </div>
</div>
{% endfor %}


<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Explicabo, esse consequatur
            alias repellat in excepturi inventore ad <a href="#">asperiores</a> tempora ipsa. Accusantium tenetur
            voluptate labore aperiam molestiae rerum excepturi minus in pariatur praesentium, corporis, aliquid dicta.
          </p>
          <ul class="featured-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur an adipisicing elit</a></li>
            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
            <li><a href="#">Corporis, omnis doloremque</a></li>
          </ul>
          <a href="/about" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'assets/images/about-1-570x350.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="services"
  style="background-image: url(    ../../static/assets/images/other-image-fullscren-1-1920x900.jpg    );">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest blog posts</h2>

          <a href="blog.html">read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-1-370x270.jpg' %}"
              class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-2-370x270.jpg' %}"
              class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a href="#" class="services-item-image"><img src="{% static 'assets/images/blog-3-370x270.jpg' %}"
              class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a href="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Happy Clients</h2>

          <a href="testimonials.html">read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-clients owl-carousel text-center">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>John Doe</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>

          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>Jane Smith</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>

          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>Antony Davis</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>

          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>John Doe</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>

          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>Jane Smith</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>

          <div class="service-item">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="down-content">
              <h4>Antony Davis</h4>
              <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla
                  at quia quaerat."</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <div class="row">
            <div class="col-md-8">
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 text-right">
              <a href="contact.html" class="filled-button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<br>

{% endblock content %}