{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class=""><span class="text-muted ">Search results for </span><span
							class="title">{{request.GET.q}}</span> </h3>

				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								{% for product in data %}


								<!-- product -->
								<!-- <div class="col-md-3"> -->
								<div class="product-item  product-details ">
									<a href="/products/{{product.id}}"><img class="img-fluid img-thumbnail"
											src="{{product.imageURL}}" alt="{{product.title}}"></a>
									<div class="down-content product-body py-3 text-center">
										<a href="/products/{{product.id}}">
											<p class="product-category text-center mb-2">{{product.category}}</p>
											<h3 class="product-name text-center"><a
													href="/products/{{product.id}}">{{product.title}}</a></h3>
										</a>
										<h5 class="product-price "><small><del class="product-old-price">$
													{{product.price}}</del></small>
											$ {{product.discount_price|floatformat:2}}</h5>

										{% if user.is_authenticated %}
										<div class="product-btns">
											<button class="add-to-wishlist add-wishlist"><i
													class="fa fa-heart-o"></i><span></span></button>
											<button class="add-to-compare"><i
													class="fa fa-exchange"></i><span></span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span></span></button>
										</div>
										<br>
										{% else %}

										<div class="product-btns">
											<button class="add-to-wishlist disabled"><i
													class="fa fa-heart-o"></i><span></span></button>
											<button class="add-to-compare disabled"><i
													class="fa fa-exchange"></i><span></span></button>
											<button class="quick-view disabled"><i
													class="fa fa-eye"></i><span></span></button>
										</div>
										<br>
										{% endif %}

										<div class="add-to-cart">
											<input type="hidden" value="1" id="productQty"
												class="form-control product-qty-{{product.id}}">
											<input type="hidden" class="product-image-{{product.id}}"
												value="{{product.imageURL}}" />
											<input type="hidden" class="product-id-{{product.id}}"
												value="{{product.id}}" />
											<input type="hidden" class="product-title-{{product.id}}"
												value="{{product.title}}" />
											<input type="hidden" class="product-discountprice-{{product.id}}"
												value="{{product.discount_price}}" />
											<input type="hidden" class="product-actualprice-{{product.id}}"
												value="{{product.price}}" />

											<button class="add-to-cart-btn" data-index="{{product.id}}" type="button"
												id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to
												cart</button>
										</div>

									</div>
								</div>
								<!-- </div> -->
								<!-- /product -->

								{% endfor %}


							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->




{% endblock content %}